{% schema %}
  {
    "name": "banner",
    "settings": [],
    "presets":[{
      "name":"banner"
    }]
  }
{% endschema %}

<div>
  <div class="navbar-section">
    <nav class="custom-navbar">
      <div class="navbar-container">
        <div>
          <h1>Tisso Vision</h1>
        </div>
        <div>
          <p> find the ideol gift for your loved ones</p>
        </div>
        <div>
          <buton>
            choose gift <i class="fa-solid fa-arrow-right"></i>
          </buton>
        </div>
        
      </div>
      
    </nav>
  </div>
</div>

<style>
  .navbar-section{
    width:100%;
  }

  .custom-navbar{
    background-color:#f0f0f0;
    padding:10px 0px;
  }

  .navbar-container{
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .navbar-container button{
    background-color:#e8e81b;
    padding:10px 15px ;
  }
</style>