{% schema %}
  {
    "name": "banner",
    "settings": [],
    "presets":[{
      "name":"banner"
    }]
  }
{% endschema %}

<div>
  <div class="navbar-section">
    <nav class="custom-navbar">
      <div class="navbar-container">
        <div>
          <h1>TISSO VISION</h1>
        </div>
        <div>
          <p> Find the ideol gift for your loved ones</p>
        </div>
        <div>
          <button>
            CHOOSE GIFT <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        
      </div>
      
    </nav>
  </div>
</div>

<div class="banner">
<div class="banner-content">
  <div>
  <h1>THE GIFT GUIDE</h1>
  </div>
  <div class="p">
  <p>Discover Joy :Your ultimate holiday gift destination.
   explore your curated selection and find the perfect gift to delight your loved ones this holiday session.</p>
  </div>
  <div>
  <button>SHOP NOW <i class="fa-solid fa-arrow-right"></i></button>
  </div>
  </div>
</div>

<style>

   .banner-content{
   position:absolute;
   display:flex;
   flex-direction: column;
   column-gap:5px;
   height:300px;
   width:400px;
   top:400px;
   left:40px;
   }

  .banner-content button{
  padding:20px 60px 20px 35px;
  background-color:black;
  color:white;
  }

  .banner-content h1{
  font-weight:bold;
  }
   
  .navbar-section{
    width:100%;
    background-color:#f0f0f0;
  }

  .navbar-section h1{
    font-weight:bold;
  }

  
  .navbar-container{
    max-width:100%;
    padding:0px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .navbar-container button{
    background-color:#e8e81b;
    padding:20px 15px 20px 25px ;
    border:none;
    font-size:16px;
    position:relative;
    overflow: hidden;
        
  }
 .navbar-container button:hover{
animation:loader 3s infinite linear;
 background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
background-size:50px 50px;
 }
  

 

@keyframes loader {

    0%{
        background-position: -50px 0px;
    }
    100%{
        background-position: 50px 0px;
    }
</style>