{% schema %}
  {
    "name": "banner",
    "settings": [],
    "presets":[{
      "name":"banner"
    }]
  }
{% endschema %}

<div>
  <div class="navbar-section">
    <nav class="custom-navbar">
      <div class="navbar-container">
        <div>
          <h1>Tisso Vision</h1>
        </div>
        <div>
          <p> find the ideol gift for your loved ones</p>
        </div>
        <div>
          <buton>
            choose gift <i class="fa-solid fa-arrow-right"></i>
          </buton>
        </div>
        
      </div>
      
    </nav>
  </div>
</div>