{% schema %}
  {
    "name": "banner",
    "settings": [],
    "presets":[{
      "name":"banner"
    }]
  }
{% endschema %}

<div>
  <div class="navbar-section">
    <nav class="custom-navbar">
      <div class="navbar-container">
        <div>
          <h1>Tisso Vision</h1>
        </div>
        <div>
          <p> Find the ideol gift for your loved ones</p>
        </div>
        <div>
          <button>
            CHOOSE GIFT <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        
      </div>
      
    </nav>
  </div>
</div>

<style>
  .navbar-section{
    width:1440px;
  }

  .custom-navbar{
    background-color:#f0f0f0;
    padding:0px;
   }

  .navbar-container{
    max-width:100%;
    padding:0px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }

  .navbar-container button{
    background-color:#e8e81b;
    padding:10px 15px 10px 20px ;
    border:none;
  }
</style>